{% extends "base.html" %}
{% block title %} ユーザーの一覧 {% endblock %}


{% block content %}

        <h2 class="consultation-list-h2">相談内容一覧</h2>
        <form
            action="{{ url_for('consultation.list') }}"
            method="GET"
            novalidate="novalidate"
        >

        <!-- forms で情報を貰うので注意 -->
        {{ consuls.csrf_token }}

        {% if consuls %}
            <!-- forms でもらったものを form として動かす -->
            {% for consul in consuls %}
                <h2 class="consultation-list-title-h2">
                    <!-- DBのデータ内の title 要素を出力 -->
                    {{ consul.title }}
                </h2>
                <p class="consultation-list-p">
                    {{ consul.content }}
                        <a class="consultation-list-a"
                           href="{{ url_for('consultation.reply',consult_id=consul.consult_id)}}">

                            <!-- 相談に返信へ移動だよ～って顔つき -->
                            <button type="button" class="consultation-list-button">相談内容の詳細へ移動</button>
                        </a>
                </p>
            {% endfor %}
        <!-- 相談内容が無かったときの対処 -->
        {% else %}
            <p class="consultation-list-p">現在表示する相談内容はありません</p>
        {% endif %}
{% endblock %}