<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>相談に返信</title>
    </head>

    <body>
        <h2>相談に返信</h2>

        <form
            action="{{ url_for('consultation.send_complate') }}"
            method="POST"
            novalidate="novalidate"
        >
        <!-- viewsにある flash を持ってくる -->
        {% with messages = get_flashed_messages() %}
        <!-- ほんで with で回す -->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="flash">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

            <!-- それぞれDBから持ってくる -->
            <!-- タイトル持ってくる -->
            <label>相談のタイトル:</label>
            <div>{{ consult.title }}</div>

            <!-- 相談内容持ってくる -->
            <label>相談内容:</label>
            <div>{{ consult.content }}</div>

            <!-- 返信する内容打つ枠 -->
            <label for="reply">返信本文:</label>
            <div>
                <textarea id="reply" name="reply"></textarea>
            </div>

            <!-- contact_mail としてメアドを持ってきて -->
             <!-- consult.mailadores に入れる -->
            <label>メールアドレス</label>
            <td><p name="contact_mail">{{ consult.mailadores }}</p></td>
            <!-- ユーザーIDを見えない属性で持ってきている -->
            <td><input type="hidden" name="consult_id" value="{{ consult.consult_id }}" ></td>
            <!-- 送信ボタンポチ～～ -->
            <div class="submit-button">
                <button type="submit">送信</button>
            </div>
        </form>
    </body>
</html>
