{% extends "base.html" %}
{% block title %} 相談に返信 {% endblock %}

{% block content %}
    <div class="consultation-reply-div">
        <h2 class="consultation-reply-h2">相談に返信</h2>

        <form
            action="{{ url_for('consultation.send_complate') }}"
            method="POST"
            novalidate="novalidate"
            class="consultation-reply-form"
        >
        <!-- viewsにある flash を持ってくる -->
        {% with messages = get_flashed_messages(category_filter=["consultation_error"]) %}
        <!-- ほんで with で回す -->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="consultation-reply-flash">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

            <!-- それぞれDBから持ってくる -->
            <!-- タイトル持ってくる -->
            <label class="consultation-reply-main">相談のタイトル</label>
            <div   class="consultation-reply-sub">{{ consult.title }}</div>

            <!-- 相談内容持ってくる -->
            <label class="consultation-reply-main">相談内容</label>
            <div   class="consultation-reply-sub">{{ consult.content }}</div>

            <!-- 返信する内容打つ枠 -->
            <label for="reply">返信本文:</label>
            <div>
                <textarea id="reply" name="reply" class="consultation-reply-textarea"></textarea>
            </div>

            <!-- contact_mail としてメアドを持ってきて -->
            <!-- consult.mailadores に入れる -->
            <label>メールアドレス</label>
            <input type="hidden" name="contact_mail" value="{{ consult.mailadores }}">

            <p class="consultation-reply-p">{{ consult.mailadores }}</p>
            <!-- ユーザーIDを見えない属性で持ってきている -->
            <td><input type="hidden" name="consult_id" value="{{ consult.consult_id }}" ></td>
            <!-- 送信ボタンポチ～～ -->
            <div class="consultation-reply-button">
                <button type="submit" class="consultation-reply-button">送信</button>
            </div>
        </form>
    </div>
{% endblock %}