<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>相談に返信</title>
    </head>

    <body>
        <h2>相談内容詳細</h2>
        <form
        action="{{ url_for('consultation.reply') }}"
        method="GET,POST"
        novalidate="novalidate"
    >


            <label>相談者:</label>
            <div>hoge</div>



            <label>相談者メールアドレス:</label>
            <div>hoge@gmail.com</div>



            <label>相談内容:</label>
            <div>パスワード忘れたんですがどうすればいいですか？</div>



            <label for="reply">返信本文:</label>
            <div>
                <textarea id="reply" name="reply"></textarea>
            </div>


        <div class="submit-button">
            <button type="submit">送信</button>
        </div>

    </body>
    </html>
