<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>問い合わせフォーム</title>
    </head>

    <body>
        <h2>相談窓口</h2>
        <form
            action="{{ url_for('consultation.send') }}"
            method="POST"
            novalidate="novalidate"
        >
                {{ form.csrf_token }}
                    <p>
                        {{ form.title.label }}
                        {{ form.title }}
                    </p>
                    {% for error in form.title.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    <p>
                        {{ form.content.label }}
                    </p>
                    <p>
                        {{ form.content }}
                    </p>
                    {% for error in form.content.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}


            {{ form.submit() }}
            <!-- 戻るボタンをつける -->
        </form>
    </body>
</html>