{% extends "base.html" %}
{% block title %} 質問の送信 {% endblock %}

{% block content %}

<!-- サイド以外の枠の指定 -->
<div class="consultation-send-main-container">

    <!-- 中身の枠の指定 -->
    <div class="consultation-send-form-container">

        <h2 class="consultation-send-h2">相談窓口</h2>

        <form
            action="{{ url_for('consultation.send') }}"
            method="POST"
            novalidate="novalidate"
        >

            <!-- form で情報を貰っている -->
            {{ form.csrf_token }}

            <p class="consultation-send-p">
            <!-- pの終わりまで input が続く -->

                <!-- タイトル持ってくるよん -->
                 <label class="consultation-send-label">
                {{ form.title.label }}
                </label>

                <!-- タイトルを入れるんだよぉ -->
                {{ form.title }}
            </p>

            <!-- エラーの対処 -->
            {% for error in form.title.errors %}
            <span  class="consultataion-span" , style="color: red;">{{ error }}</span>
            {% endfor %}

            <p class="consultation-send-p">
                <!-- 内容持ってくるよん -->
                {{ form.content.label }}
            </p>

            <p class="consultation-send-p">
                <!-- 内容書き込むんだおよぉ -->
                <!-- ここが textarea になる -->
                {{ form.content }}
            </p>

            <!-- エラーの対処 -->
            {% for error in form.content.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}

            <!-- 戻るボタンをつける -->
            {{ form.submit() }}
        </form>
    </div>
</div>
{% endblock %}
