{% extends "base.html" %}
{% block title %}{{ post.post_title }}{% endblock %}

{% block content %}
    <h1>{{ post.post_title }}</h1>
    <h2>{{ user.name }}</h2>
    <p>{{ post.post_text }}</p>
    {% if post.image %}
    <img src="{{ url_for('post.get_image', post_id=post.post_id) }}" alt="投稿画像">

    {% endif %}
    {% if tag.tag_name %}
    <ul>
        <li>{{ tag.tag_name }}</li>
    </ul>
    {% endif %}

    <!-- 返信一覧を表示 -->
    <ul>
        {% for reply in replies %}
        <form method="POST" action="{{ url_for('post.reply_delete', reply_id=reply.reply_id) }}"
            onsubmit="return confirm('本当に削除しますか？');">
            <p>{{ reply.name}}:{{ reply.content }}<button type="submit" style="color: red;">削除</button></p>
        </form>

        {% endfor %}
    </ul>
    

    <!-- 返信フォームへのリンク -->
    <br>
    <form action="{{ url_for('post.reply', post_id=post.post_id) }}" method="get" style="display:inline;">
        <button type="submit" class="btn btn-primary">返信する</button>
    </form>

    <!-- 自治体ユーザーの場合は削除ボタンを表示 -->
    {% if current_user.manager_flag == True %}
    <form method="POST" action="{{ url_for('post.delete', post_id=post.post_id) }}"
    onsubmit="return confirm('本当に削除しますか？');">
    <button type="submit" style="color: red;">削除</button>
    </form>
    {% endif %}

    <br>
    <a href="{{ url_for('post.post_list') }}">戻る</a>
{% endblock %}