<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>住民投稿一覧</title>
    </head>

    <body>
        <h1>住民投稿</h1>

        <!-- 住民投稿の一覧表示 -->
        <ul>
            {% if posts %}
            {% for post in posts %}
            <li>
                <a>
                    {{ post.post_title }}
                </a>
                
            </li>
            {% endfor %}
            {% else %}
            <p>現在表示する投稿はありません</p>
            {% endif %}
        </ul>


    </body>
    
</html>