{% extends "base.html" %}
{% block title %} 住民投稿一覧 {% endblock %}

{% block content %}
<h1>住民投稿</h1>

<!-- 住民投稿の一覧表示 -->
<ul>
    {% if posts %}
    {% for post in posts %}
    <li>
        <a href="{{ url_for('post.post_detail',post_id=post.post_id) }}">
            {{ post.post_title }}
        </a>
    </li>
    {% endfor %}
    {% else %}
    <p>現在表示する投稿はありません</p>
    {% endif %}
</ul>
<form action="{{ url_for('post.create_post') }}" method="get" style="display:inline;">
    <button type="submit" class="post-button">投稿する</button>
    <p><a href="{{ url_for('notice.top') }}" class="top-link">トップページに戻る</a></p>
</form>
<style>
    /*投稿ボタン*/
    .post-button {
        display: block;
        margin-top: 50px;
        padding: 10px 20px;
        font-size: 1em;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background 0.3s, transform 0.2s;
    }

    .post-button:hover {
        background-color: #45a049;
        transform: scale(1.05);
    }

    .top-link {
        display: inline-block;
        margin-top: 30px;
        padding: 10px 20px;
        background: #3498db;
        color: white;
        text-decoration: none;
        font-size: 1.1em;
        border-radius: 5px;
        text-align: center;
        transition: background 0.3s, transform 0.2s;
    }

    .top-link:hover {
        background: #1abc9c;
        transform: scale(1.05);
    }
</style>
{% endblock %}