{% extends "base.html" %}
{% block title %}言語選択{% endblock %}
{% block content %}

<div class="translation-main-container">
    <div class="translation-sub-container">
        <h2 class="translation-h2">翻訳ツール</h2>
        <form method="post">
            <!-- テキスト入力 -->

            <label for="text_to_translate"
                class="translation-label">翻訳したいフレーズを入力してください:</label>

            <input type="text"
                id="text_to_translate" name="text_to_translate" maxlength="100" required>

            <br><br>

            <!-- 言語選択 -->
            <label for="target_language"
                class="translation-label">翻訳先の言語を選択してください:</label>
            <select id="target_language"
                name="target_language" required>

                <option value="en" {% if target_language == 'en' %}selected{% endif %}>英語</option>
                <option value="ja" {% if target_language == 'ja' %}selected{% endif %}>日本語</option>
                <option value="ko" {% if target_language == 'ko' %}selected{% endif %}>韓国語</option>
                <option value="zh-cn" {% if target_language == 'zh-cn' %}selected{% endif %}>中国語</option>

                <!-- 必要に応じて他の言語も追加可能 -->
            </select>
            <br><br>

            <!-- 翻訳実行ボタン -->
            <button type="submit" class="translation-button">翻訳</button>
        </form>

        <!-- 翻訳結果の表示 -->
        {% if translated_text %}
            <div class="translation-text">
                <h2 class="translation-h2">翻訳結果</h2>
                <p class="translation-p">{{ translated_text }}</p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
