{% extends "base.html" %}
{% block title %} イベント一覧 {% endblock %}
{% block content %}
    <title>{{ date }}のイベント一覧</title>

    <h1>{{ date }}のイベント一覧</h1>
    
    {% if events %}
        <ul>
            {% for event in events %}
                <li>
                    <a href="{{ url_for('calendar.event_detail', calendar_id=event.calendar_id) }}">{{event.event_title}}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>この日にイベントはありません。</p>
    {% endif %}

    <br>
    <a href="{{ url_for('calendar.selectindex', year=date.year, month=date.month) }}">戻る</a>
{% endblock %}