<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}サイト名{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="wrapper">
        <!-- サイドバー -->
        <aside class="sidebar">
            
                    <!-- 縦書きで「町」のリンク -->

                        <h1>
                            <a href="{{ url_for('notice.top') }}" class="town-text">{{ local.local_name }}</a>
                        </h1>
                    
            <nav>
                <ul>
                    <!-- 現在ログイン中のユーザー名 -->
                    {% if current_user.is_authenticated %}
                        <li class="sidebar-item">
                            <a href="#">{{ current_user.name }}</a>
                        </li>
                    {% endif %}

                    <!-- メニュー -->
                    <li class="sidebar-item">
                        <a href="{{ url_for('menu') }}">
                            <img src="{{ url_for('static', filename='img/16_2_300.png') }}" alt="メニュー画像" width="50" height="50">
                            <br>メニュー</br>
                        </a>
                    </li>

                    <!-- 言語選択 -->
                    <li class="sidebar-item">
                        <a href="#">
                            <img src="{{ url_for('static', filename='img/言語選択.png') }}" alt="言語選択画像" width="90" height="50">
                            <br>言語選択</br>
                        </a>
                    </li>

                    <!-- AIに質問 -->
                    <li class="sidebar-item">
                        <a href="#">
                            <img src="{{ url_for('static', filename='img/AI2.png') }}" alt="AI画像" width="50" height="50">
                            <br>AIに質問</br>
                        </a>
                    </li>

                    <!-- ログアウト -->
                    {% if current_user.is_authenticated %}
                        <li class="sidebar-item">
                            <a href="{{ url_for('user.logout') }}">ログアウト</a>
                        </li>
                    {% endif %}
           
                    {% if current_user.manager_flag == True %}
                    <!-- 自治体ユーザー登録 -->
                    <li class="sidebar-item">
                        <a href="{{ url_for('user.signup_super') }}">自治体ユーザー登録</a>
                    </li>

                    <!-- 地域登録 -->
                    <li class="sidebar-item">
                        <a href="{{ url_for('user.local_regist') }}">地域新規登録</a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
        </aside>

        <!-- メインコンテンツ -->
        <main class="content">
            {% block content %}
            <!-- ページごとのコンテンツをここに挿入 -->
            {% endblock %}
        </main>
    </div>
</body>
</html>
