{% extends "base.html" %}
{% block title %} お知らせ投稿 {% endblock %}

{% block content %}

<body>
    <h1>お知らせ投稿</h1>
    <form action="{{ url_for('notice.create_notice') }}" method="post" novalidate="novalidate"
        enctype="multipart/form-data">
        {{ form.csrf_token }}
        <!-- タイトルの入力フィールドとエラーメッセージ -->
        <p>
            {{ form.title.label }} {{ form.title() }}
        </p>
        {% for error in form.title.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}

        <!-- 本文の入力フィールドとエラーメッセージ -->
        <p>
            {{ form.text.label }}
        </p>
        <p>
            {{ form.text() }}
        </p>
        {% for error in form.text.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}

        <!-- 画像の入力フィールドとエラーメッセージ -->
        <p>
            {{ form.image.label }} {{ form.image() }}
        </p>
        {% for error in form.image.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.tag }}
        <!-- 送信ボタン -->
        {{ form.submit() }}
        {% endblock %}
    </form>
    </form>
</body>

</html>