<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{{ notice.notice_title }}</title>
</head>

<body>
    <h1>{{ notice.notice_title }}</h1>
    <p>{{ notice.notice_text }}</p>
    {% if notice.image %}
    <img src="{{ url_for('notice.get_image', notice_id=notice.notice_id) }}" alt="お知らせ画像">

    {% endif %}
    <ul>
        {% for tag in tags %}
        <li>{{ tag.tag_name }}</li>
        {% endfor %}
    </ul>

    <br>
    <a href="{{ url_for('notice.top') }}">トップページに戻る</a>
</body>

</html>