{% extends "base.html" %}
{% block title %}{{ notice.notice_title }}{% endblock %}

{% block content %}



<body>
    <h1>{{ notice.notice_title }}</h1>
    <p>{{ notice.notice_text }}</p>

    {% if notice.image %}
    <img src="{{ url_for('notice.get_image', notice_id=notice.notice_id) }}" alt="お知らせ画像" class="notice-image">
    {% endif %}


    {% if tag.tag_name %}
    <ul>
        <li>{{ tag.tag_name }}</li>
    </ul>
    {% endif %}

    <!-- 返信一覧を表示 -->
    <ul>
        {% for reply in replies %}

        <form method="POST" action="{{ url_for('notice.reply_delete', reply_id=reply.reply_id) }}"
            onsubmit="return confirm('本当に削除しますか？');">
            {{ form.csrf_token }}
            <p>{{ reply.name}}:{{ reply.reply_text }}<button type="submit" style="color: red;">削除</button></p>
        </form>

        {% endfor %}
    </ul>


    <!-- 返信フォームへのリンク -->
    <br>
    <form action="{{ url_for('notice.reply', notice_id=notice.notice_id) }}" method="get" style="display:inline;">
        <button type="submit" class="reply-button">返信する</button>
    </form>

    <br>
    <a href="{{ url_for('notice.top') }}" class="top-link">トップページに戻る</a>

    <style>
        .notice-image {
            width: 600px; /* 固定したい幅 */
            height: 350px; /* 固定したい高さ */
            object-fit: cover; /* アスペクト比を保ちながら枠に収める */
            border: 1px solid #ddd; /* 枠線を追加 */
            border-radius: 5px; /* 角を丸くする */
            display: block; /* 画像を中央揃えする準備 */
            margin: 20px auto; /* 上下20pxの余白を追加し、中央揃え */
        }
    </style>
    
    

</body>

</html>
{% endblock %}