{% extends "base.html" %}
{% block title %}お知らせ編集: {{ notice.notice_title }}{% endblock %}

{% block content %}
<h1>{{ notice.notice_title }} の編集</h1>

<body>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div>
            <label for="title">タイトル</label>
            <input type="text" name="title" id="title" value="{{ form.title.data }}" required>
        </div>

        <div>
            <label for="text">本文</label>
            <p><textarea name="text" id="text" required>{{ form.text.data }}</textarea></p>
        </div>

        <div>
            <label for="image">画像</label>
            <p><img src="{{ url_for('notice.get_image', notice_id=notice.notice_id) }}" alt="お知らせ画像"></p>
            <p><input type="file" name="image" id="image"></p>
        </div>

        <button type="submit" style="color: blue;">編集完了</button>
    </form>

    <form method="POST" action="{{ url_for('notice.delete', notice_id=notice.notice_id) }}"
        onsubmit="return confirm('本当に削除しますか？');">
        <button type="submit" style="color: red;">削除</button>
    </form>

    <a href="{{ url_for('notice.detail', notice_id=notice.notice_id) }}">戻る</a>
</body>
{% endblock %}

</html>