<!DOCTYPE html>
<html lang="ja">

<head>
    <title>お知らせ検索</title>
</head>

<body>
    <h1>お知らせ検索</h1>
    <form method="POST" action="{{ url_for('notice.search') }}">
        {{ form.csrf_token }}
        <div>
            <label for="notice_title">タイトルキーワード:</label>
            {{ form.notice_title }}
        </div>
        <div>
            <label for="tag_name">タグを選択:</label>
            {{ form.tag_name }}
        </div>

        <button type="submit">検索</button>
    </form>
</body>

</html>