{% extends "base.html" %}
{% block title %} お知らせ一覧 {% endblock %}

{% block content %}
<h1>お知らせ一覧</h1>

<body>

    <ul>
        {% if notices %}
        {% for notice in notices %}
        <li>
            <a href="{{ url_for('notice.detail', notice_id=notice.notice_id) }}">
                {{ notice.notice_title }}
            </a>

            </a>
        </li>
        {% endfor %}
        {% else %}
        <p>現在表示するお知らせがありません</p>
        {% endif %}
    </ul>
    <form action="{{ url_for('notice.create_notice') }}" method="get" style="display:inline;">
        <button type="submit" class="btn btn-primary">投稿する</button>
    </form>

</body>
{% endblock %}

</html>