<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>お知らせ一覧</title>
</head>

<body>
    <h1>お知らせ一覧</h1>
    <ul>
        {% if notices %}
        {% for notice in notices %}
        <li>
            <a href="{{ url_for('notice.detail', notice_id=notice.notice_id) }}">
                {{ notice.notice_title }}
            </a>

            </a>
        </li>
        {% endfor %}
        {% else %}
        <p>現在表示するお知らせがありません</p>
        {% endif %}
    </ul>
</body>

</html>