{% extends "base.html" %}
{% block title %}画像認識AI:検出結果{% endblock %}

{% block content %}

<h1>検出結果：{{ class_name }}</h1>

{% if summary %}
<p>{{ summary }}</p>
{% else %}
<p>予期せぬエラーが発生しました。</p>
{% endif %}
<a href="{{ url_for('notice.top') }}" class="back-link">戻る</a>

<style>
    /* 戻るボタン */
    .back-link {
        display: inline-block;
        margin-top: 30px;
        padding: 10px 20px;
        background: #3498db;
        color: white;
        text-decoration: none;
        font-size: 1.1em;
        border-radius: 5px;
        text-align: center;
        transition: background 0.3s, transform 0.2s;
    }

    .back-link:hover {
        background: #1abc9c;
        transform: scale(1.05);
    }
</style>
{% endblock %}